# Created by https://www.gitignore.io/api/osx,latex

*.swp
### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### LaTeX ###
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
code_examples/.idea/.name
code_examples/.idea/code_examples.iml
code_examples/.idea/encodings.xml
code_examples/.idea/inspectionProfiles/Project_Default.xml
code_examples/.idea/inspectionProfiles/profiles_settings.xml
code_examples/.idea/misc.xml
code_examples/.idea/modules.xml
code_examples/.idea/workspace.xml
